html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    color: Crimson;
    font-family: Roboto, sans-serif;
}

p {
    color: Crimson;
    font-family: Roboto, sans-serif;
}
