html {
    scroll-behavior: smooth;
}

/* || GENERAL STYLES */
/* Handle basic element styling */
body {
    font-family: 'Roboto', sans-serif;
}

/* || GRID LAYOUT */

.main-header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.main-navigation {
    grid-area: navigation;
}

.side {
    grid-area: sidebar;
}

.main-footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      "navigation"
      "header"
      "content"
      "sidebar"
      "footer";
}

@media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
        "navigation     navigation"
        "header         header"
        "sidebar        content"
        "footer         footer";
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
}

@media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas:
        "navigation navigation navigation"
        "header     header     header"
        "sidebar    content    content"
        "footer     footer     footer"
     }
     nav ul {
       flex-direction: column;
     }
}

/* Handle specific elements nested in the DOM */
header, footer {
    text-align: center;
}

#welcome, #about, #projects, #contact {
    height: 100vh;
}